<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css" >
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>    
    <title>Actualización de Actividades</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-header text-center">
                        <h2>Actualización de Actividades</h2>
                    </div>
                    <div class="card-body">
                        <form onsubmit="return validarFormulario(['idActividad','nombreActividad','proposito','fechaEjecucion','proyecto']);">
                            <div class="mb-3">
                                <label for="idActividad" class="form-label">Identificador de la actividad</label>
                                <input type="text" class="form-control" id="idActividad" name="idActividad">
                                <button type="button" class="btn btn-primary search-btn" id="btnBuscar" onclick="buscarActividad()">Buscar</button>
                            </div>
                            <div class="mb-3 hide-on-start" id="nombreDiv">
                                <label for="nombreActividad" class="form-label">Nombre de la actividad</label>
                                <input type="text" class="form-control" id="nombreActividad" name="nombreActividad">                                
                            </div>
                            <div class="mb-3 hide-on-start" id="propositoDiv">
                                <label for="proposito" class="form-label">Proposito de la actividad</label>
                                <textarea class="form-control" aria-label="With textarea" id="proposito" name="proposito"></textarea>
                            </div>
                            <div class="mb-3 hide-on-start" id="fechaEjecucionDiv">
                                <label for="fechaEjecucion" class="form-label">Fecha de ejecucion</label>
                                <input type="date" class="form-control" id="fechaEjecucion" name="fechaEjecucion">
                            </div>
                            <div class="mb-3 hide-on-start" id="proyectoDiv">
                                <label for="proyecto" class="form-label">Proyecto</label>
                                <select class="form-select" id="proyecto" name="proyecto">                                    
                                </select>
                            </div>
                            <div class="btn-center">
                                <button type="submit" class="btn btn-success me-2 hide-on-start" id="btnActualizar">Actualizar</button>
                                <button type="button" class="btn btn-danger me-2 hide-on-start" id="btnEliminar" onclick="eliminarRegistro(['idActividad'])">Eliminar</button>
                                <button type="button" class="btn btn-secondary hide-on-start" id="btnCancelar" onclick="cancelarFormulario(['idActividad'])">Cancelar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="modal fade" id="errorModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Error en el formulario</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="errorMessages">            
                </div>
            </div>
        </div>
    </div>
    <!-- Ventana modal OK -->
    <div class="modal fade" id="okModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Información</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="okMessages">                    
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="../static/js/scripts.js"></script>  

    <script> 
        function cargarProyectos() {     
            
            var proyectos = [
                { id: 101, nombre: 'Construcción Casas' },
                { id: 102, nombre: 'Recuperación zonas verdes' },
                { id: 103, nombre: 'Jornada de vacunación para perros y gatos' }
            ];        

            // Llenar la lista desplegable de proyectos
            var selectProyectos = document.getElementById('proyecto');
            proyectos.forEach(function (proyecto) {
                var option = document.createElement('option');
                option.value = proyecto.id;
                option.text = proyecto.nombre;
                selectProyectos.add(option);
            });
        }

        document.addEventListener("DOMContentLoaded", function () {
            cargarProyectos();
        });
    </script>
</body>
</html>