<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <style>
        body {
            background-image: url('https://img.freepik.com/foto-gratis/surtido-diversidad-vista-superior-manos-papel-diferentes-colores_23-2148642211.jpg?w=740&t=st=1707086416~exp=1707087016~hmac=bdb3b7248a23b928c052bedc8ff1b7048eb1f0f7a1be01f66132f5477240ed5c');
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
            height: 100vh;
        }

        .card {
            margin-top: 50px;
        }

        .btn-center {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>
    <title>Registro de Proyectos</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-header text-center">
                        <h2>Registro de Proyectos</h2>
                    </div>
                    <div class="card-body">
                        <form onsubmit="return validarFormulario();">
                            <div class="mb-3">
                                <label for="idproyecto" class="form-label">Identificador del proyecto</label>
                                <input type="text" class="form-control" id="idproyecto" name="idproyecto" onkeypress="return soloNumeros(event)">
                            </div>
                            <div class="mb-3">
                                <label for="nombreProyecto" class="form-label">Nombre del proyecto</label>
                                <input type="text" class="form-control" id="nombreProyecto" name="nombreProyecto">
                            </div>
                            <div class="mb-3">
                                <label for="fechaInicio" class="form-label">Fecha de Inicio</label>
                                <input type="date" class="form-control" id="fechaInicio" name="fechaInicio">
                            </div>
                            <div class="mb-3">
                                <label for="fechaFinalizacion" class="form-label">Fecha de Finalización</label>
                                <input type="date" class="form-control" id="fechaFinalizacion" name="fechaFinalizacion">
                            </div>
                            <div class="mb-3">
                                <label for="ciudad" class="form-label">Ciudad</label>
                                <select class="form-select" id="ciudad" name="ciudad">
                                    <!-- Agrega opciones desde una fuente de datos o estática -->
                                </select>
                            </div>

                            <div class="btn-center">
                                <button type="submit" class="btn btn-primary me-2">Enviar</button>
                                <button type="button" class="btn btn-secondary"
                                    onclick="limpiarCampos()">Cancelar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Ventana modal de error -->
    <div class="modal fade" id="errorModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Error en el formulario</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="errorMessages">
            <!-- Aquí se mostrarán los mensajes de error dinámicamente -->
            </div>
        </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <script>
        function limpiarCampos() {
            document.getElementById("idproyecto").value = "";
            document.getElementById("nombreProyecto").value = "";
            document.getElementById("fechaInicio").value = "";
            document.getElementById("fechaFinalizacion").value = "";
            document.getElementById("ciudad").value = "";            
        }
        function validarFormulario() {
            var camposNoVacios = ['idproyecto','nombreProyecto','fechaInicio','fechaFinalizacion','ciudad'];
            for (var i = 0; i < camposNoVacios.length; i++) {
                var campo = document.getElementById(camposNoVacios[i]).value.trim();
                if (campo === '') {
                    mostrarError('El campo ' + camposNoVacios[i] + ' no puede estar vacío.');
                    return false;
                }
            }
            // var idcontrato = document.getElementById("idcontrato").value;  
            // if (!/^\d+$/.test(idcontrato)) {
            //     mostrarError("Validar campo Identificador Contrato.");
            //     return false;
            // }    
            // return true;
        }

        function mostrarError(mensaje) {
            // Muestra el mensaje de error en la ventana modal
            var errorMessages = document.getElementById('errorMessages');
            errorMessages.innerHTML = '<p>' + mensaje + '</p>';
            $('#errorModal').modal('show');
        }
        function soloNumeros(event) {
            // Permite solo números en el campo
            var charCode = event.which ? event.which : event.keyCode;
            if (charCode > 31 && (charCode < 48 || charCode > 57)) {
            return false;
            }
            return true;
        }
    </script>
</body>

</html>